<ng-container>
  <h4 class="lg:text-xl text-lg font-bold hidden invisible lg:visible lg:block">Filters</h4>

  <div class="space-y-5 w-full mt-5">
    <div class="">
      <label class="font-semibold text-[16px]">
        Search

        <input
          [(ngModel)]="searchValue"
          (ngModelChange)="onChange()"
          type="text"
          class="input h-9! w-full"
          name="search"
          placeholder="Search product..."
        />
      </label>
    </div>

    <div class="">
      <h6 class="text-[16px] font-semibold">Categories</h6>

      <div class="flex flex-col gap-2 mt-1">
        @if (categoriesService.isLoading()) {
          <app-loader></app-loader>
        } @else {
          @for (category of categoriesService.categories(); track category.id) {
            <label
              [for]="category.id"
              class="flex items-center gap-1 group"
            >
              <input
                type="radio"
                name="category"
                [(ngModel)]="selectedCategoryId"
                (ngModelChange)="onChange()"
                [id]="category.id"
                [value]="category.id"
                class="appearance-none w-4.5 h-4.5 relative rounded-full border-2 border-border before:w-3 before:h-3 before:rounded-full before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-primary before:scale-0 checked:before:scale-100 transition-all duration-150 before:transition-all before:duration-150"
              />

              <span class="select-none font-medium text-[15px]">{{ category.name }}</span>
            </label>
          }
        }
      </div>
    </div>

    <div class="mt-1">
      <label
        [for]="'vegetarian'"
        class="flex items-center justify-between text-[16px] font-semibold"
      >
        Vegetarians only

        <app-switch
          [(checked)]="isVegetarian"
          (checkedChange)="onChange()"
          [id]="'vegetarian'"
        ></app-switch>
      </label>
    </div>

    <div class="">
      <h6 class="text-[16px] font-semibold">Price</h6>

      <div class="mt-1 grid grid-cols-2 gap-4">
        <input
          type="number"
          class="w-full input h-9!"
          placeholder="Min"
          min="1"
          name="minPrice"
          [(ngModel)]="minPrice"
          (ngModelChange)="onChange()"
        />
        <input
          type="number"
          class="w-full input h-9!"
          placeholder="Max"
          max="5000"
          name="maxPrice"
          [(ngModel)]="maxPrice"
          (ngModelChange)="onChange()"
        />
      </div>
    </div>

    <div class="mt-1">
      <app-button
        label="Clear all filters"
        variant="outline"
        classNames="w-full"
        (clicked)="clearAll()"
      />
    </div>
  </div>
</ng-container>
