<section class="border-2 border-border rounded-radius p-4">
  <div class="flex items-start justify-between">
    <div>
      <h4 class="leading-5 text-[18px] font-semibold">Products</h4>
      <h3 class="text-[14.5px] text-muted-foreground">Manage menu products</h3>
    </div>

    <app-button
      label="Add product"
      size="sm"
    />
  </div>

  <app-separator />

  <div class="flex flex-col gap-5 mt-5">
    @if (productsService.isLoading()) {
      <div class="flex items-center justify-center">
        <app-loader />
      </div>
    } @else {
      @for (product of productsService.products(); track product.id) {
        <article class="flex items-start justify-between p-2 border-2 rounded-radius border-border">
          <div class="flex items-start gap-2">
            <div class="relative size-15 rounded-radius overflow-hidden">
              <img
                [ngSrc]="product.image"
                alt="image"
                fill
                class="w-full h-full object-cover aspect-square"
              />
            </div>
            <div class="flex flex-col gap-2">
              <h3 class="font-semibold text-[15.5px]">{{ product.name }}</h3>
              <p class="font-bold text-primary">{{ product.price | currency: 'USD' }}</p>
            </div>
          </div>

          @if (!product.canDelete) {
            <p class="text-destructive font-semibold text-[14.5px]">This is static</p>
          } @else {
            <div class="flex items-center gap-1">
              <app-button
                size="icon"
                [icon]="LucidePencil"
                variant="ghost"
                iconClassNames="text-violet-600"
              />
              <app-button
                size="icon"
                [icon]="LucideTrash"
                variant="ghost"
                iconClassNames="text-destructive"
              />
            </div>
          }
        </article>
      }

      @if (!productsService.isLoading()) {
        <div class="mt-5 flex items-center justify-end gap-3">
          @if (page() > 1) {
            <app-button
              label="Previous"
              variant="outline"
              (clicked)="prevPage()"
              [disabled]="page() <= 1"
            />
          }

          <app-button
            label="Next"
            variant="outline"
            (clicked)="nextPage()"
          />
        </div>
      }
    }
  </div>
</section>
