<div class="h-screen w-full">
  <div class="container-wrapper w-full h-full grid place-items-center">
    <div
      class="p-8 bg-card shadow-sm rounded-radius border-2 border-border md:w-112.5 lg:w-125 w-full"
    >
      <div class="text-center">
        <h2 class="title">Reset Password</h2>
        <p class="subtitle">Enter your new password</p>
      </div>

      <form
        novalidate
        (submit)="handleResetPassword($event)"
        class="grid mt-5 grid-cols-1 gap-4"
      >
        <div class="col-span-1">
          <label for="newPassword">new Password</label>
          <input
            type="password"
            placeholder="••••••••••"
            id="newPassword"
            class="input h-9! w-full"
            [formField]="resetPasswordForm.newPassword"
          />
          @if (
            resetPasswordForm.newPassword().touched() && resetPasswordForm.newPassword().invalid()
          ) {
            @for (error of resetPasswordForm.newPassword().errors(); track $index) {
              <p class="text-destructive text-[15px]">{{ error.message }}</p>
            }
          }
        </div>
        <div class="col-span-1">
          <label for="newPasswordConfirm">Confirm new password</label>
          <input
            type="password"
            placeholder="••••••••••"
            id="newPasswordConfirm"
            class="input h-9! w-full"
            [formField]="resetPasswordForm.newPasswordConfirm"
          />
          @if (
            resetPasswordForm.newPasswordConfirm().touched() &&
            resetPasswordForm.newPasswordConfirm().invalid()
          ) {
            @for (error of resetPasswordForm.newPasswordConfirm().errors(); track $index) {
              <p class="text-destructive text-[15px]">{{ error.message }}</p>
            }
          }
        </div>

        <app-button
          variant="default"
          type="submit"
          classNames="w-full"
          label="Reset password"
          loadingText="Please wait..."
          [disabled]="auth.isLoading() || resetPasswordForm().invalid()"
          [loading]="auth.isLoading()"
        />
      </form>

      <app-button
        variant="link"
        label="Back to login"
        classNames="mt-5 w-fit block! mx-auto"
        type="button"
        link="/auth/login"
      />
    </div>
  </div>
</div>
