<section class="py-6 min-h-[calc(100vh-70px)]">
  <div class="container-wrapper grid lg:grid-cols-[280px_1fr] grid-cols-1 gap-4 w-full">
    <div
      class="sticky top-7 p-4 rounded-radius border-2 border-border bg-card w-full h-fit hidden lg:block"
    >
      <app-filters
        [currentFilters]="currentFilters()"
        (filtersChanged)="onFiltersChanged($event)"
      ></app-filters>
    </div>

    <div class="w-full">
      <div class="mb-5 flex items-center justify-between">
        <div class="">
          <h2 class="title">Menu</h2>
          <p class="subtitle">Showing {{ take() }} products</p>
        </div>

        <div class="flex items-center gap-1">
          <button
            (click)="openFiltersSheet()"
            type="button"
            class="btn-bordered w-9! bg-input/40 hover:bg-input/75! lg:hidden! shrink-0"
          >
            <svg
              lucideFilter
              [size]="20"
            ></svg>
          </button>

          <app-select
            [options]="[
              { label: '5 per page', value: 5 },
              { label: '10 per page', value: 10 },
              { label: '15 per page', value: 15 },
              { label: '20 per page', value: 20 },
              { label: '30 per page', value: 30 },
            ]"
            [(value)]="take"
            (valueChange)="updateTake($event)"
            classes="w-32!"
          ></app-select>
        </div>
      </div>

      <div
        class="w-full grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-3 sm:grid-cols-2 min-[500px]:grid-cols-2 grid-cols-1 gap-5"
      >
        @if (productService.isLoading()) {
          <div class="col-span-full flex gap-1 flex-col justify-center items-center w-full">
            <app-loader></app-loader>
          </div>
        } @else {
          @for (product of productService.products(); track product.id) {
            <app-card
              [product]="product"
              (addToCart)="handleAddToCart($event.id, $event.done)"
            ></app-card>
          } @empty {
            <div class="col-span-full flex gap-1 flex-col justify-center items-center w-full">
              <svg
                lucidePackageOpen
                [size]="90"
                class="text-foreground"
              ></svg>
              <h2 class="text-3xl font-bold text-foreground">No products found</h2>
              <p class="text-muted-foreground text-[17px]">Try searching for other products.</p>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>

<app-sheet>
  <div>
    <app-filters
      [currentFilters]="currentFilters()"
      (filtersChanged)="onFiltersChanged($event)"
    ></app-filters>
  </div>
</app-sheet>
