<section class="py-6 min-h-[calc(100vh-70px)]">
  <div class="container-wrapper space-y-7">
    <div class="bg-card border-2 border-border p-10 mt-5 rounded-radius relative">
      <app-side-ribbon text="Personal info"></app-side-ribbon>
      <div
        class="w-25 select-none h-25 pointer-events-none rounded-full border border-accent mx-auto ring-4 ring-primary ring-offset-2 ring-offset-card overflow-hidden"
        [ngClass]="{ 'flex items-center justify-center bg-accent': !user.profile()?.picture }"
      >
        @if (user.profile()?.picture) {
          <img
            [src]="user.profile()?.picture"
            [alt]="user.profile()?.firstName"
            class="w-full h-full object-cover aspect-square"
          />
        } @else {
          <span class="text-foreground font-black text-4xl">
            {{ user.profile()?.firstName?.charAt(0)?.toUpperCase()?.trim() }}
          </span>
        }
      </div>

      <form
        (submit)="handleUpdateProfile($event)"
        class="grid-cols-2 grid gap-4 mt-5"
        novalidate
      >
        @for (profileFormItem of profileFields; track $index) {
          <div
            [ngClass]="{
              'col-span-1': profileFormItem.gridCols === 1,
              'col-span-2': profileFormItem.gridCols === 2,
            }"
          >
            <label
              [for]="profileFormItem.name"
              class="text-[15px] font-medium"
            >
              {{ profileFormItem.label }}
            </label>

            <input
              [id]="profileFormItem.name"
              [name]="profileFormItem.name"
              [type]="profileFormItem.type"
              [placeholder]="profileFormItem.placeholder"
              [disabled]="profileFormItem.name === 'email'"
              [(ngModel)]="profileFormModel[profileFormItem.name]"
              autocomplete="off"
              class="input h-9 w-full disabled:opacity-80! disabled:text-muted-foreground"
            />
          </div>
        }

        <app-button
          label="Save changes"
          variant="default"
          type="submit"
        />
      </form>
    </div>

    <div class="bg-card border-2 border-border p-10 rounded-radius relative">
      <app-side-ribbon text="Change password"></app-side-ribbon>

      <h1 class="font-bold text-2xl">Update password</h1>

      <form
        (submit)="handleUpdatePassword($event)"
        class="grid-cols-2 grid gap-4 mt-5"
        novalidate
      >
        @for (newPasswordFormItem of newPasswordFields; track $index) {
          <div class="col-span-2">
            <label
              [for]="newPasswordFormItem.name"
              class="text-[15px] font-medium"
            >
              {{ newPasswordFormItem.label }}
            </label>

            <input
              [id]="newPasswordFormItem.name"
              [type]="newPasswordFormItem.type"
              [placeholder]="newPasswordFormItem.placeholder"
              [formField]="newPasswordForm[newPasswordFormItem.name]"
              autocomplete="off"
              class="input h-9 w-full disabled:opacity-80! disabled:text-muted-foreground"
            />

            @if (
              newPasswordForm[newPasswordFormItem.name]().touched() &&
              newPasswordForm[newPasswordFormItem.name]().invalid()
            ) {
              @for (error of newPasswordForm[newPasswordFormItem.name]().errors(); track $index) {
                <p class="text-destructive text-[15px]">{{ error.message }}</p>
              }
            }

            @if (newPasswordFormItem.name === 'confirmPassword') {
              <app-password-prerequisite></app-password-prerequisite>
            }
          </div>
        }

        <app-button
          label="Update password"
          type="submit"
          variant="default"
          classNames="w-fit"
          loadingText="Updating password.."
          [loading]="user.isLoading()"
          [disabled]="user.isLoading() || newPasswordForm().invalid()"
        />
      </form>
    </div>

    <div class="bg-destructive/10 border-2 border-destructive/50 p-10 rounded-radius relative">
      <app-side-ribbon
        text="Danger"
        classes="bg-destructive/30 text-destructive! rounded-br-md"
      ></app-side-ribbon>

      <h1 class="font-bold text-2xl">Danger zone</h1>

      <div class="mt-5 space-y-4">
        <p class="text-destructive">
          Once you delete your account, there is no going back. Please be certain.
        </p>

        <button
          (click)="showDialog()"
          type="button"
          class="btn w-fit text-destructive-foreground! hover:bg-destructive/85 bg-destructive!"
        >
          Delete my account
        </button>
      </div>
    </div>
  </div>
</section>
