<div class="h-screen w-full">
  <div class="container-wrapper w-full h-full grid place-items-center">
    <div
      class="p-8 bg-card shadow-sm rounded-radius border-2 border-border md:w-112.5 lg:w-125 w-full"
    >
      <div class="text-center">
        <h2 class="title">Forgot Password?</h2>
        <p class="subtitle">Enter your email and we'll send you a reset link</p>
      </div>

      <form
        (submit)="handleForgotPassword($event)"
        novalidate
        class="grid grid-cols-1 gap-4 mt-5"
      >
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            placeholder="example@gmail.com"
            id="email"
            autocomplete="off"
            class="input h-9! w-full!"
            [formField]="forgotPasswordForm.email"
            appInvalidInput
            [field]="forgotPasswordForm.email"
          />

          @if (forgotPasswordForm.email().dirty() && forgotPasswordForm.email().invalid()) {
            @for (error of forgotPasswordForm.email().errors(); track $index) {
              <p class="text-destructive text-[15px]">{{ error.message }}</p>
            }
          }
        </div>

        <app-button
          type="submit"
          classNames="w-full"
          variant="default"
          label="Send reset link"
          [loading]="auth.isLoading()"
          loadingText="Email sending..."
          [disabled]="forgotPasswordForm().invalid() || auth.isLoading()"
        />
      </form>

      <app-button
        variant="link"
        label="Back to login"
        classNames="mt-5 w-fit block! mx-auto"
        type="button"
        link="/auth/login"
      />
    </div>
  </div>
</div>
