<div class="h-screen w-full">
  <div class="container-wrapper w-full h-full grid place-items-center">
    <div
      class="p-8 bg-card shadow-sm rounded-radius border-2 border-border md:w-112.5 lg:w-125 w-full"
    >
      <div class="text-center">
        <h2 class="title">Welcome Back</h2>
        <p class="subtitle">Sign in to your account</p>
      </div>

      <form
        (submit)="handleLogin($event)"
        novalidate
        class="grid grid-cols-1 gap-4 mt-5"
      >
        @for (loginFormItem of loginFormItems; track $index) {
          <div class="col-span-2">
            <label
              [for]="loginFormItem.name"
              class="text-[15px] font-medium"
            >
              {{ loginFormItem.label }}
            </label>
            <input
              [type]="loginFormItem.type"
              [placeholder]="loginFormItem.placeholder"
              [id]="loginFormItem.name"
              [formField]="loginForm[loginFormItem.name]"
              autocomplete="off"
              class="input h-9 w-full"
            />

            @if (
              loginForm[loginFormItem.name]().touched() && loginForm[loginFormItem.name]().invalid()
            ) {
              @for (error of loginForm[loginFormItem.name]().errors(); track $index) {
                <p class="text-destructive text-[15px]">
                  {{ error.message }}
                </p>
              }
            }

            @if (loginFormItem.isPassword) {
              <div class="flex items-center justify-end mt-2">
                <a
                  routerLink="/auth/forgot-password"
                  class="text-primary text-[14.5px] hover:underline"
                >
                  Forgot password?
                </a>
              </div>
            }
          </div>
        }

        <app-button
          label="Sign in"
          type="submit"
          variant="default"
          [disabled]="auth.isLoading() || loginForm().invalid()"
          [loading]="auth.isLoading()"
          classNames="w-full"
        />
      </form>

      <div class="mt-5 text-center text-[15.5px] font-medium">
        Don&apos;t have an account?
        <a
          routerLink="/auth/register"
          class="text-primary hover:underline"
        >
          Create
        </a>
      </div>
    </div>
  </div>
</div>
