<section class="h-150 w-full bg-[url('/hero-image.avif')] bg-cover bg-no-repeat">
  <div class="container-wrapper flex gap-8 flex-col items-center justify-center h-full w-full">
    <h1
      #heroTitle
      class="text-primary-foreground lg:text-7xl md:text-6xl sm:text-5xl text-wrap text-4xl font-black text-center wrap-break-word"
    >
      Delicious Food Delivered to Your Door
    </h1>
    <p
      #heroText
      class="text-primary-foreground font-bold lg:text-3xl text-2xl text-center wrap-break-word text-wrap"
    >
      Fresh ingredients, authentic flavors, fast delivery
    </p>
    <button
      #heroButton
      routerLink="/menu"
      class="btn bg-primary px-8! py-6! text-[18px]"
    >
      Shop now
    </button>
  </div>
</section>
