<section class="py-12">
  <div class="container-wrapper">
    <div class="mb-10">
      <h1
        #popularDishesTitle
        class="title"
      >
        popular dishes
      </h1>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 lg:gap-10 gap-5">
      @for (product of products(); track product.id) {
        <app-card
          [product]="product"
          (addToCart)="handleAddToCart($event)"
        ></app-card>
      }
    </div>
  </div>
</section>
