<footer class="py-10 bg-muted">
  <div class="container-wrapper">
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8">
      <div class="flex flex-col space-y-4">
        <h2 class="text-primary font-bold text-xl">Foodie</h2>

        <div class="space-y-2">
          <p class="font-medium text-muted-foreground text-[15px]">
            Delicious food delivered to your door
          </p>

          <div class="">
            <!--            ICONS -->
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-4">
        <h2 class="text-foreground font-bold text-xl">Contact</h2>

        <div class="space-y-2 font-medium text-muted-foreground text-[15px]">
          <p>123 Food Street</p>
          <p>City, State 12345</p>
          <p>Phone: (555) 123-4567</p>
          <p>Mon-Sun: 10AM - 10PM</p>
        </div>
      </div>

      <div class="flex flex-col space-y-4">
        <h2 class="text-foreground font-bold text-xl">Quick Links</h2>

        <div class="space-y-2 font-medium text-muted-foreground text-[15px] flex flex-col">
          <a
            routerLink="/menu"
            class="text-muted-foreground hover:text-primary"
          >
            Menu
          </a>
          <a
            routerLink="/menu"
            class="text-muted-foreground hover:text-primary"
          >
            About
          </a>
          <a
            routerLink="/menu"
            class="text-muted-foreground hover:text-primary"
          >
            Contact
          </a>
          <a
            routerLink="/menu"
            class="text-muted-foreground hover:text-primary"
          >
            Terms of service
          </a>
          <a
            routerLink="/menu"
            class="text-muted-foreground hover:text-primary"
          >
            Privacy policy
          </a>
        </div>
      </div>

      <div class="flex flex-col space-y-4">
        <h2 class="text-foreground font-bold text-xl">Newsletter</h2>

        <div class="space-y-2 font-medium text-muted-foreground text-[15px] flex flex-col">
          <p class="font-medium text-muted-foreground text-[15px]">
            Subscribe to get special offers
          </p>

          <div class="flex items-center gap-2">
            <input
              type="text"
              class="input h-9!"
              placeholder="Your email"
            />
            <button
              type="button"
              class="btn bg-primary! text-primary-foreground!"
            >
              Subscribe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
